/* Définition de la police */

@font-face {
    font-family: 'opendyslexic3regular';
    src: url('../font/webfontkit-20181016-024751/opendyslexic3-regular-webfont.woff2') format('woff2'), url('../font/webfontkit-20181016-024751/opendyslexic3-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Éléments principaux de la page*/

body {
    background-color: #fafbfb;
    font-family: opendyslexic3regular;
    font-size: 70%;
    color: #000000;
}

a:link {
    text-decoration: none;
}

#bloc_page {
    width: 100%;
    margin: auto;
}

.link {
    color: #000000;
}

.link:hover {
    color: #32c781;
}


/* Header */

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/* Logo */

#logo {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

header h1 {
    margin-left: 10%;
    font-size: 530%;
}

#téléphone {
    width: 20%;
    height: 20%;
    margin-top: 25%;
}


/* Navigation */

nav ul {
    /* Masque les puces */
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 18%;
}

nav a {
    font-size: 530%;
    color: #000000;
    text-decoration: none;
    padding-right: 90%;
}

nav a:hover {
    color: #32c781;
}


/* Footer */

footer {
    background-color: #ffffff;
}

#logo_footer {
    width: 10%;
    height: 10%;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo_footer img {
    width: 25%;
    height: 25%;
}