/*---------- Éléments principaux de la page ----------*/

#bloc_page {
    /* largeur de la page */
    width: 100%;
    /* marge */
    margin: auto;
}

body {
    /* couleur de fond */
    background-color: #fafbfb;
    /* famille de la police */
    font-family: 'Poppins', sans-serif;
    /* taille de la police */
    font-size: 120%;
    /* couleur de la police */
    color: #000000;
}

h1 {
    /* alignement au centre du texte */
    text-align: center;
}


/*----------------------- Liens -----------------------*/

a:link {
    /* suppression de la ligne sous les liens */
    text-decoration: none;
}

a {
    /* couleur des liens */
    color: #4292B6;
}

a:hover {
    /* couleur des liens au passage du curseur */
    color: #6AD540;
}


/*----------------------- Header -----------------------*/

header {
    /* couleur du fond */
    background-color: #ffffff;
    /* flexibilité des éléments */
    display: flex;
    /* Les éléments sont répartis équitablement
    Le bord du premier est aligné sur le
    début du conteneur et la fin du dernier
    est alignée sur la fin du conteneur */
    justify-content: space-between;
    /* Les éléments flexibles sont regroupés à la fin */
    align-items: flex-end;
}


/*------------------------ Logo ------------------------*/

#logo {
    /* espace horizontal à gauche */
    margin-left: 10%;
}

#logo img {
    /* largeur */
    width: 80%;
    /* hauteur */
    height: 100%;
}


/*--------------------- Navigation ---------------------*/

nav ul {
    /* Masque les puces */
    list-style-type: none;
    /* flexibilité des éléments */
    display: flex;
}

nav li {
    /* définit l'espace horizontal à droite
    qui formera la marge à droite */
    margin-right: 15%;
}

nav a {
    /* famille de la police */
    font-family: 'Poppins:medium', sans-serif;
    /* graisse de la police */
    font-weight: bold;
    /* Style de police */
    font-style: italic;
    /* couleur de la police */
    color: #4292B6;
    /* suppression de la ligne sous les liens */
    text-decoration: none;
    /* taille de la police */
    font-size: 180%;
}

nav a:hover {
    /* couleur des liens au passage du curseur */
    color: #6AD540;
}

nav {
    margin-right: 15%;
}


/*------------------ Partie présentation ------------------*/

#blocPres article {
    /* génère une boîte de bloc ce qui ajoute des passages à la ligne avant et après l'élément dans le flux normal */
    display: block;
    /* espace horizontal à gauche */
    margin-left: 155px;
    margin-right: 155px;
}

#blocPres article p {
    /* définit la hauteur entre les lignes */
    line-height: 55px;
    /* texte justifié */
    text-align: justify;
}

#matosApple {
    width: 1150px;
    margin-left: -2%;
}

#date {
    text-align: center;
}


/*---------------------------------- Footer ----------------------------------*/

footer {
    /* couleur de fond */
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

#maPhoto {
    /* largeur */
    width: 30%;
    /* hauteur */
    height: 120%;
}

footer aside {
    display: flex;
    flex-direction: row;
    margin-left: 70%;
    background-color: #fafbfb;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#facebook {
    /* largeur */
    width: 20%;
}

#twitter {
    /* largeur */
    width: 21%;
}

#linkedin {
    /* largeur */
    width: 18%;
}

#github {
    /* largeur */
    width: 20%;
}

#logosReseaux {
    text-align: center;
    margin-left: 1%;
}

#liensReseaux {
    display: flex;
    flex-direction: column;
}

#liensReseaux p {
    margin-left: 13%;
}