/* Définition de la police */

@font-face {
    font-family: 'opendyslexic3regular';
    src: url('../font/webfontkit-20181016-024751/opendyslexic3-regular-webfont.woff2') format('woff2'), url('../font/webfontkit-20181016-024751/opendyslexic3-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Éléments principaux de la page*/

body {
    background-color: #fafbfb;
    font-family: opendyslexic3regular;
    font-size: 70%;
    color: #000000;
}

a:link {
    text-decoration: none;
}

#bloc_page {
    width: 100%;
    margin: auto;
}

article h4,
aside h5,
section h3,
article h6 {
    text-transform: uppercase;
    font-size: 130%;
}

a {
    color: #000000;
}

a:hover {
    color: #32c781;
}


/* Header */

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/* Logo */

#logo {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

header h1 {
    margin-left: 10%;
}

#téléphone {
    width: 20%;
    height: 20%;
    margin-top: 15%;
}


/* Navigation */

nav ul {
    /* Masque les puces */
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 18%;
}

nav a {
    font-size: 230%;
    color: #000000;
    text-decoration: none;
    padding-right: 90%;
    font-size: 150%;
}

nav a:hover {
    color: #32c781;
}


/* Bannière */

#banniere_image {
    background: url('../images/image.png') no-repeat;
    background-size: 100%;
    margin-top: 3%;
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    position: relative;
    display: block;
}

#banniere_description {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    bottom: 0;
    width: 98%;
    height: 0%;
    padding-left: 2%;
    padding-bottom: 8%;
    font-size: 130%;
}


/* Corps */

#blocPres {
    display: flex;
    flex-direction: row;
}

h3 {
    margin-left: 45%;
    margin-top: 5%;
}

section {
    margin-bottom: 10%;
}

article,
aside {
    text-align: justify;
    margin-top: 1%;
}


/* Article */

article {
    display: block;
    margin-left: 5%;
}

article h4 img {
    width: 50%;
    height: 50%;
    padding-top: 10%;
}

article p {
    line-height: 150%;
    text-align: justify;
}

#ico_materiel {
    float: right;
    bottom: 0%;
    width: 10%;
    height: 10%;
}

#titre {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}

#titre h4 {
    margin-left: 3%;
    margin-bottom: 10%;
}


/* Aside */

aside {
    position: relative;
    background-color: #32c781;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: white;
    width: 25%;
    height: 25%;
    align-items: flex-end;
    text-align: center;
    margin-right: 5%;
    margin-left: 13%;
    margin-top: 10%;
    padding: 1%;
}

aside h5 {
    text-align: center;
}

#ma_photo {
    text-align: center;
}

#ma_photo img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

aside a img {
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    height: 15%;
}

#articlepair {
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: #32c781;
    width: 25%;
    height: 25%;
    align-items: flex-end;
    text-align: center;
    margin-right: 5%;
    margin-left: 13%;
    margin-top: 10%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    margin-left: 690%;
}

#articlepair h5 {
    text-transform: uppercase;
    font-size: 130%;
}

#articleimpair {
    position: relative;
    background-color: #32c781;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: white;
    width: 25%;
    height: 25%;
    align-items: flex-end;
    text-align: center;
    margin-right: 5%;
    margin-left: 13%;
    margin-top: 10%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

#articleimpair a {
    color: #000000
}

#articleimpair a:hover {
    color: #3578E5
}

#articleimpair h5 {
    text-transform: uppercase;
    font-size: 130%;
}

#articles {
    display: flex;
    flex-direction: row;
}


/* Footer */

footer {
    background-color: #ffffff;
}

#logo_footer {
    width: 10%;
    height: 10%;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo_footer img {
    width: 25%;
    height: 25%;
}