/*---------- Éléments principaux de la page ----------*/

#bloc_page {
    /* largeur de la page */
    width: 100%;
    /* marge */
    margin: auto;
}

body {
    /* couleur de fond */
    background-color: #fafbfb;
    /* famille de la police */
    font-family: 'Poppins', sans-serif;
    /* taille de la police */
    font-size: 120%;
    /* couleur de la police */
    color: #000000;
}

h1 {
    /* alignement au centre du texte */
    text-align: center;
}


/*----------------------- Liens -----------------------*/

a:link {
    /* suppression de la ligne sous les liens */
    text-decoration: none;
}

a {
    /* couleur des liens */
    color: #4292B6;
}

a:hover {
    /* couleur des liens au passage du curseur */
    color: #6AD540;
}


/*----------------------- Header -----------------------*/

header {
    /* couleur du fond */
    background-color: #ffffff;
    /* flexibilité des éléments */
    display: flex;
    /* Les éléments sont répartis équitablement
    Le bord du premier est aligné sur le
    début du conteneur et la fin du dernier
    est alignée sur la fin du conteneur */
    justify-content: space-between;
    /* Les éléments flexibles sont regroupés à la fin */
    align-items: flex-end;
}


/*------------------------ Logo ------------------------*/

#logo {
    /* espace horizontal à gauche */
    margin-left: 10%;
}

#logo img {
    /* largeur */
    width: 80%;
    /* hauteur */
    height: 100%;
}


/*--------------------- Navigation ---------------------*/

nav ul {
    /* Masque les puces */
    list-style-type: none;
    /* flexibilité des éléments */
    display: flex;
}

nav li {
    /* définit l'espace horizontal à droite
    qui formera la marge à droite */
    margin-right: 15%;
}

nav a {
    /* famille de la police */
    font-family: 'Poppins:medium', sans-serif;
    /* graisse de la police */
    font-weight: bold;
    /* Style de police */
    font-style: italic;
    /* couleur de la police */
    color: #4292B6;
    /* suppression de la ligne sous les liens */
    text-decoration: none;
    /* taille de la police */
    font-size: 180%;
}

nav a:hover {
    /* couleur des liens au passage du curseur */
    color: #6AD540;
}

nav {
    margin-right: 15%;
}


/*------------------------ div article ------------------------*/

#article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/*------------------------------------------------- div colonneArticle -------------------------------------------------*/

#colonneArticle {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}


/*-------------------------------------------------- Article TeXmaker --------------------------------------------------*/

#articleTexmaker {
    background: url('../images/erreurFichierNonTrouve.png') no-repeat;
    /* positionné dans le flux normal du document */
    position: relative;
    /* image d'arrière plan */
    /* taille d'arrière plan */
    background-size: contain;
    /* image d'arrière plan non répétée */
    background-repeat: no-repeat;
    /* hauteur */
    height: 340px;
    width: 480px;
}

#banniereTexmaker {
    /* positionné dans le flux normal du document */
    position: absolute;
    /* marge en haut */
    margin-top: 37%;
    /* espace horizontal à gauche */
    margin-left: 8%;
    /* couleur de la police */
    color: #000000;
    /* taille de la police */
    font-size: 160%;
    /* graisse de la police */
    font-weight: bold;
}

#lienTexmaker {
    margin-left: 5%;
}


/*-------------------------- Article reconversion --------------------------*/

#articleReconversion {
    background: url('../images/reconversion.jpg');
    display: block;
    position: relative;
    /* hauteur */
    height: 340px;
    width: 603px;
    background-size: contain;
    background-repeat: no-repeat;
}

#banniereReconversion {
    /* positionné dans le flux normal du document */
    position: absolute;
    /* marge en haut */
    margin-top: 45%;
    /* espace horizontal à gauche */
    margin-left: 4%;
    /* couleur de la police */
    color: #000000;
    /* taille de la police */
    font-size: 160%;
    /* graisse de la police */
    font-weight: bold;
}

#lienReconversion {
    margin-left: 3%;
}


/*------------------------------------------------ Article présentation ------------------------------------------------*/

#articlePresentation {
    background: url('../images/MatosApple.png');
    /* positionné dans le flux normal du document */
    position: relative;
    /* image d'arrière plan */
    /* taille d'arrière plan */
    background-size: contain;
    /* image d'arrière plan non répétée */
    background-repeat: no-repeat;
    /* hauteur */
    height: 340px;
    width: 460px;
}

#bannierePresentation {
    /* positionné dans le flux normal du document */
    position: absolute;
    /* marge en haut */
    margin-top: 64%;
    /* espace horizontal à gauche */
    margin-left: 4%;
    /* couleur de la police */
    color: #FFFFFF;
    /* taille de la police */
    font-size: 160%;
    /* graisse de la police */
    font-weight: bold;
}

#lienPresentation {
    margin-left: 3%;
}


/*---------------------------------- Footer ----------------------------------*/

footer {
    /* couleur de fond */
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

#logo_footer img {
    /* largeur */
    width: 150px;
    /* hauteur */
    height: 150px;
    margin-left: 375%;
}

#maPhoto {
    /* largeur */
    width: 30%;
    /* hauteur */
    height: 120%;
}

footer aside {
    display: flex;
    flex-direction: row;
    margin-left: 60%;
    background-color: #fafbfb;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#facebook {
    /* largeur */
    width: 20%;
}

#twitter {
    /* largeur */
    width: 21%;
}

#linkedin {
    /* largeur */
    width: 18%;
}

#github {
    /* largeur */
    width: 20%;
}

#logosReseaux {
    text-align: center;
    margin-left: 1%;
}

#liensReseaux {
    display: flex;
    flex-direction: column;
}

#liensReseaux p {
    margin-left: 13%;
}


/*--------------------------------- Responsive design ---------------------------------*/

@media all and (max-width: 1024px) {
    /*------------------------- Éléments principaux de la page -------------------------*/
    #bloc_page {
        /* largeur */
        width: auto;
    }
    body {
        /* taille de la police */
        font-size: 12px;
    }
    /*-------------------------------------- Logo --------------------------------------*/
    #logo {
        /* espace horizontal à gauche */
        margin-left: 0px;
    }
    h1 {
        /* taille de la police */
        font-size: 18px;
        /* espace horizontal à gauche */
        margin-left: 8px;
    }
    /*-------------------------------------- Navigation --------------------------------------*/
    nav {
        /* largeur */
        width: auto;
        /* alignement à gauche du texte */
        text-align: left;
    }
    nav ul {
        /* La direction suit une colonne */
        flex-direction: column;
    }
    nav li {
        /* espace nécessaire à la gauche d'un élément */
        padding-left: 125px;
    }
    nav a {
        /* taille de la police */
        font-size: 14px;
    }
    nav a:hover {
        /* Bordure en dessous */
        border-bottom: 0;
    }
    /*--------------------------------------- Bannière ---------------------------------------*/
    #banniere_image {
        /* Masquage */
        display: none;
    }
    /*---------------------------------- Partie présentation ----------------------------------*/
    #blocPres {
        /* flexibilité des éléments */
        display: flex;
        /* La direction suit une ligne */
        flex-direction: column;
    }
    #pres h2 {
        /* taille de la police */
        font-size: 14px;
        /* alignement au centre du texte */
        margin-top: 5%;
        /* espace horizontal en bas */
        margin-bottom: 35px;
    }
    #presentation {
        /* largeur */
        width: 480px;
        /* hauteur */
        height: 550px;
        /* espace horizontal à gauche */
        margin-left: auto;
        /* espace horizontal à droite */
        margin-right: auto;
    }
    /*-------------------------------------------- Footer --------------------------------------------*/
    #logo_footer {
        /* largeur */
        width: 10%;
        /* hauteur */
        height: 10%;
        /* espace horizontal à gauche */
        margin-left: 45%;
        /* espace horizontal à droite */
        margin-right: auto;
        /* espace nécessaire en haut d'un élément */
        padding-top: 1%;
        /* espace nécessaire en bas d'un élément */
        padding-bottom: 1%;
    }
    #logo_footer img {
        /* largeur */
        width: 55px;
        /* hauteur */
        height: 55px;
    }
}