/* Définition de la police */

@font-face {
    /* famille de la police */
    font-family: 'opendyslexic3regular';
    /* url de la police */
    src: url('../font/webfontkit-20181016-024751/opendyslexic3-regular-webfont.woff2') format('woff2'), url('../font/webfontkit-20181016-024751/opendyslexic3-regular-webfont.woff') format('woff');
    /* graisse de la police */
    font-weight: normal;
    /* style de la police */
    font-style: normal;
}


/* Éléments principaux de la page*/

#bloc_page {
    /* largeur de la page */
    width: 100%;
    /* marge */
    margin: auto;
}

body {
    /* couleur de fond */
    background-color: #fafbfb;
    /* utilisation de la police définie plus haut */
    font-family: opendyslexic3regular;
    /* taille de la police */
    font-size: 70%;
    /* couleur de la police */
    color: #000000;
}

a:link {
    /* suppression de la ligne sous les liens */
    text-decoration: none;
}

a {
    /* couleur des liens */
    color: #32c781;
}

a:hover {
    /* couleur des liens au passage du curseur */
    color: #3578E5;
}


/* Header */

header {
    /* couleur du fond */
    background-color: #ffffff;
    /* flexibilité des éléments */
    display: flex;
    /* Les éléments sont répartis équitablement
    Le bord du premier est aligné sur le 
    début du conteneur et la fin du dernier
    est alignée sur la fin du conteneur */
    justify-content: space-between;
    /* Les éléments flexibles sont regroupés à la fin */
    align-items: flex-end;
}


/* Logo */

#logo {
    /* flexibilité des éléments */
    display: flex;
    /* La direction suit une ligne */
    flex-direction: row;
    /* espace horizontal à gauche */
    margin-left: 15%;
}

header h1 {
    /* espace horizontal à gauche */
    margin-left: 10%;
}

#téléphone {
    /* largeur */
    width: 20%;
    /* hauteur  */
    height: 20%;
    /* définit l'espace vertical pour 
    la marge appliquée en haut de l'élément */
    margin-top: 15%;
}


/* Navigation */

nav ul {
    /* Masque les puces */
    list-style-type: none;
    /* flexibilité des éléments */
    display: flex;
}

nav li {
    /* définit l'espace horizontal à droite
    qui formera la marge à droite */
    margin-right: 18%;
}

nav a {
    /* couleur de la police */
    color: #32c781;
    /* suppression de la ligne sous les liens */
    text-decoration: none;
    /* espace nécessaire à la droite d'un élément */
    padding-right: 90%;
    /* taille de la police */
    font-size: 150%;
}

nav a:hover {
    /* couleur des liens au passage du curseur */
    color: #3578E5;
}


/* Bannière */

#banniere_image {
    /* lien du fond */
    background: url('../images/image.png') no-repeat;
    /* taille du fond */
    background-size: 100%;
    /* définit l'espace vertical pour 
    la marge appliquée en haut de l'élément */
    margin-top: 3%;
    /* largeur */
    width: 900px;
    /* hauteur  */
    height: 500px;
    /* espace horizontal à gauche */
    margin-left: auto;
    /* espace horizontal à droite */
    margin-right: auto;
    /* permet de définir des coins arrondis
    pour la bordure d'un élément */
    border-radius: 3%;
    /* positionné dans le flux normal du document */
    position: relative;
    /* génère une boîte de bloc ce qui ajoute des 
    passages à la ligne avant et après l'élément dans le flux normal */
    display: block;
}

#banniere_description {
    /* retiré du flux normal et aucun espace n'est créé pour l'élément 
    sur la page */
    position: absolute;
    /* couleur du fond */
    background-color: #000000;
    /* couleur de la police */
    color: #ffffff;
    /* contribue à la définition de l'emplacement vertical des éléments 
    positionnés en bas*/
    bottom: 0;
    /* largeur */
    width: 98%;
    /* hauteur */
    height: 0%;
    /* espace nécessaire à la gauche d'un élément */
    padding-left: 2%;
    /* espace nécessaire en bas d'un élément */
    padding-bottom: 8%;
}


/* Corps */

#blocPres {
    /* flexibilité des éléments */
    display: flex;
    /* La direction suit une ligne */
    flex-direction: row;
}

#pres h1 {
    /* espace horizontal à gauche */
    margin-left: 45%;
    /* espace horizontal en haut */
    margin-top: 5%;
    /* met le texte en majuscule */
    text-transform: uppercase;
}

section {
    /* espace horizontal en bas */
    margin-bottom: 10%;
}

article,
aside {
    /* alignement horizontal et centré */
    text-align: justify;
    /* espace horizontal en haut */
    margin-top: 1%;
}

article h1,
aside h1 {
    /* met le texte en majuscule */
    text-transform: uppercase;
    /* taille de la police */
    font-size: 130%;
    /* alignement du texte */
    text-align: center;
}


/* Article */

article {
    /* génère une boîte de bloc ce qui ajoute des 
    passages à la ligne avant et après l'élément dans le flux normal */
    display: block;
    /* espace horizontal à gauche */
    margin-left: 5%;
}

article h1 img {
    /* largeur */
    width: 50%;
    /* hauteur */
    height: 50%;
    /* espace nécessaire en haut d'un élément */
    padding-top: 10%;
}

article p {
    /* définit la hauteur entre les lignes */
    line-height: 250%;
    /* alignement du texte */
    text-align: justify;
}

#ico_materiel {
    /* placé sur le côté droit */
    float: right;
    /* contribue à la définition de l'emplacement vertical des éléments 
    positionnés en bas*/
    bottom: 0%;
    /* largeur */
    width: 10%;
    /* hauteur */
    height: 10%;
}

#titre {
    /* flexibilité des éléments */
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}

#titre h1 {
    margin-left: 3%;
    margin-bottom: 5%;
    margin-top: 3%;
}


/* Aside */

aside {
    position: relative;
    background-color: #32c781;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: white;
    width: 25%;
    height: 25%;
    align-items: flex-end;
    text-align: center;
    margin-right: 5%;
    margin-left: 13%;
    margin-top: 10%;
    padding: 1%;
}

#reseaux h1 {
    margin-left: 0%;
}

#ma_photo {
    text-align: center;
}

#ma_photo img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

aside a img {
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    height: 15%;
}


/* Articles */

#articlesbi aside {
    background-color: white;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: #32c781;
    width: 30%;
    height: 30%;
    text-align: justify;
    margin-top: 10%;
    margin-left: 3%;
    padding: 5%;
    line-height: 250%;
}

#articlesbi aside a {
    color: #000000
}

#articlesbi aside a:hover {
    color: #3578E5
}

#articlesbi aside h1 {
    text-transform: uppercase;
    font-size: 130%;
}

#articlesbi article {
    background-color: #32c781;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: white;
    width: 30%;
    height: 30%;
    text-align: justify;
    margin-top: 10%;
    padding: 5%;
    line-height: 250%;
    margin-left: 3%;
}

#articlesbi article a {
    color: #000000
}

#articlesbi article a:hover {
    color: #3578E5
}

#articlesbi h1 {
    text-transform: uppercase;
    font-size: 130%;
    text-align: center;
}

#articlesbi div {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

#TeXmaker {
    margin-top: 5%;
    background-color: #32c781;
    box-shadow: 0px 3px 7px #1c1a19;
    border-radius: 5px;
    color: white;
    height: 90%;
    width: 80%;
    text-align: justify;
    padding: 5%;
    line-height: 250%;
    margin-left: 3%;
}

#TeXmaker div {
    display: flex;
    flex-direction: column;
}

#TeXmaker h1 {
    margin-bottom: 5%;
}

#CapTeX {
    height: 50%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}

#caperr {
    text-align: center;
}


/* Footer */

footer {
    background-color: #ffffff;
}

#logo_footer {
    width: 10%;
    height: 10%;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo_footer img {
    width: 25%;
    height: 25%;
}